body {
    /* background: #303030; */
    height:100vh;
}
.App {
  text-align: center;
}

.app-bar {
  text-align: center;
}

.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.terminal-grid {
    /* width:80; */
    /* flex:1; */
    /* height:90vh; */
    /* margin: auto !important; */
}

.centered-container {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-container-buttons {
  /*   position:relative !important; */
  /*   /\* margin-left: 20pt !important; *\/ */
  /*   width:50% !important; */
  /* text-align: center; */
 }

.button-centered {
    /* position:relative !important; */
}

.widget-header {
    margin-top:20px;
    margin-right:10px;
    margin-left:0px;
    margin-bottom:0px;
    padding:0 0 0 0;
    background: #cc0;
}

.widget-header p {
    padding-top:10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.output-text {
    height: 85vh;
    background:#ccd;
}

.text-editor {
}


.CodeMirror {
    height:40vh;
    margin: 0 0 0 0;
}

div.react-console-container {
  font-size: 0.85em;
  font-family: "Menlo", "Consolas", "DejaVu Sans Mono", monospace;
  /* max-width: 100%; */
  box-sizing: border-box;
  height: 85vh;
  background: #546e7a;
  margin: 0 0 0 0;
  padding: 1em;
  overflow: auto;
  white-space: pre; }

div.react-console-prompt-box {
  color: rgba(233, 237, 237, 1); }

span.react-console-prompt-label {
  font-weight: bold; }

div.react-console-focus span.react-console-cursor {
  background: #333;
  color: #fff; }

div.react-console-nofocus span.react-console-cursor {
  background: none;
  color: #fff;
  outline: 0.1em solid #333;
  outline-offset: -0.1em; }

div.react-console-focus span.react-console-cursor-idle {
  animation: react-console-cursor-animation 1s infinite; }

@keyframes react-console-cursor-animation {
  0% {
    background: #333;
    color: #eee; }
  50% {
    background: #333;
    color: #eee; }
  51% {
    background: none;
    color: #444; }
  100% {
    background: none;
    color: #444; } }

div.react-console-message {
  color: #fff;
  padding: 0.1em; }