body {
    /* background: #303030; */
    height:100vh;
}
.App {
  text-align: center;
}

.app-bar {
  text-align: center;
}

.hide {
  display: none !important;
}

.left-align {
  text-align: left;
}

.right-align {
  text-align: right;
}

.center, .center-align {
  text-align: center;
}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.terminal-grid {
    /* width:80; */
    /* flex:1; */
    /* height:90vh; */
    /* margin: auto !important; */
}

.centered-container {
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.login-container-buttons {
  /*   position:relative !important; */
  /*   /\* margin-left: 20pt !important; *\/ */
  /*   width:50% !important; */
  /* text-align: center; */
 }

.button-centered {
    /* position:relative !important; */
}

.widget-header {
    margin-top:20px;
    margin-right:10px;
    margin-left:0px;
    margin-bottom:0px;
    padding:0 0 0 0;
    background: #cc0;
}

.widget-header p {
    padding-top:10px;
    text-align: center;
    font-size: 1em;
    font-weight: bold;
}

.output-text {
    height: 85vh;
    background:#ccd;
}

.text-editor {
}


.CodeMirror {
    height:85vh;
    margin: 0 0 0 0;
}

